body {
  font-family: 'Trebuchet MS', sans-serif;
  color: #503030;
  
  background-color: #d5997a;
}
.title {
  font-size: 7vw;
}
a:link {
  color: brown;
}
a:hover {
  color: red;
}
a:visited {
  color: black;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
