body {
  font-family: 'Trebuchet MS', sans-serif;
  color: "#503030";
  
  background-image: url("360_F_460032496_1O99Ti9gpmgwFoDQmshPM6Y4jZXGg71t.jpg");
  background-repeat: no-repeat;
}
.title {
  font-size: 7vw;
}
